$primaryColor: #59a5d8;
$secondaryColor: #d85966;
$ternaryColor: #59d88c;
$primaryBlack: rgba(27, 32, 34);
$secondaryBlack: rgba(54, 64, 69);
$ternaryBlack: rgba(76, 91, 97);

@mixin flex($justCont, $alItems) {
  display: flex;
  justify-content: $justCont;
  align-items: $alignItems;
}

@mixin flex-column($justCont, $alItems) {
  @include flex($justCont, $alItems);
  flex-direction: column;
}

@mixin border($color) {
  border: 0.25em solid $color;
}

/* Global Styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body,
html {
  width: 100%;
  height: 100vh;
}

* + * {
  margin-top: 0em;
}

/* React App Root */
#root {
  @include border(red);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1em 1fr 1fr 1em;
  grid-template-rows: 2.5em auto auto auto 3em;
  grid-template-areas:
    'nav nav nav nav '
    '*** text img ***'
    '*** something something ***'
    '*** something something ***'
    'footer footer footer footer';
}

#navbar {
  grid-area: nav;
}
